
<!DOCTYPE html>
<body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">

    <p>{{titulo}}</p>

  
<button v-on:click="cambiarEstado" >Event Handling(manejando eventos con el button)</button>

<p v-if="condicional" >{{mensaje}} {{mostrarEstado + condicional}}</p> 

<p v-else="condicional">{{mensajeDos}} {{mostrarEstado + condicional}}</p>

<p v-show="condicional">{{mensajeTres}} {{mostrarEstado + condicional}}</p>


<p>Uso de v-bind</p>
<img v-bind:src="imagen" ></img>




<p>Manejo de array: </p>

<li v-for="elemento in productos">{{elemento.nombre +" $ "+ elemento.precio}}</li>

<br>

<input v-model="nombre" placeholder="nombre" > <input v-model="precio" > <button v-on:click="agregarProducto" >agregar</button><br><br>



<button v-on:click="sacarUltimo" >uso de pop() devolver el ultimo elemento</button><br><br>

<button v-on:click="sacarPrimero" >uso de shift() devolver el primer elemento</button><br><br>

<button v-on:click="agregarAlInicioArray" >uso de unshift() agrega uno o mas elementos al inicio del array</button><br><br>

<button v-on:click="ordenarPorNombreAsc" >sort() ordenar por nombre</button><button v-on:click="ordenarPorPrecioAsc" >sort() ordenar por precio</button><br><br>

<button v-on:click="reverse" >uso de reverse() invierte la posicion de los elementos</button><br><br>

<button v-on:click="filtrar" >uso de filter()filtrar menores a 1000</button><br><br>

<button v-on:click="concat" >uso de concat() juntamos la misma lista por dos</button><br><br>

Inicio<input v-model="inicioSlice" >Fin<input v-model="finSlice" ><button v-on:click="slice" >uso de slice() colocamos el inicio y fin para devolver los elementos</button><br><br>
 
</div>


<script>

const { createApp } = Vue
createApp({
data() {
return {
titulo:"Titulo",
mensaje: "v-if activo",
mensajeDos:"v-else activo",
mensajeTres:"v-show activo",
condicional:true,
mostrarEstado: "- estado del condicional: ",

inicioSlice:0,
finSlice:0,

imagen: "https://img.freepik.com/foto-gratis/disparo-gran-angular-solo-arbol-que-crece-cielo-nublado-puesta-sol-rodeada-cesped_181624-22807.jpg",


productos: [{nombre:"mesa",precio:1000},
           {nombre:"Jarron",precio:200},
           {nombre:"silla",precio:300},
           {nombre:"Alacena",precio:1500}],

nombre:"",
precio:0,



//-Deteccion de cambios en Array



//Metodos de mutacion: mutan la matriz original a la que se les llama.

//push() : asigna un valor al final del array a un nuevo índice (metodo agregarProducto)

//pop() : elimina el último elemento de un array y lo devuelve. Este método cambia la longitud del array.

//shift() : elimina el primer elemento del array y lo retorna. Este método modifica la longitud del array

//unshift(): agrega uno o más elementos al inicio del array, y devuelve la nueva longitud del array

//splice(): cambia el contenido de un array eliminando elementos existentes y/o agregando nuevos elementos. https://developer.mozilla.org/es/docs/Web/JavaScript/Reference/Global_Objects/Array/splice

//sort(): ordena los elementos de un arreglo (array) localmente y devuelve el arreglo ordenado

//reverse(): orden de los elementos en el arreglo estará girado hacia la dirección opuesta a la establecida anteriormente.


 


//Metodos que no mutan el array: no mutan a la matriz pero devuelven una nueva matris por lo que hay q guardarla en una nueva variable

//filter(): filtra solo a los elementos de la matriz dada que pasan la prueba implementada por la función proporcionada y devuleve una matriz con dichos elementos

//concat(): se utiliza para fusionar dos o más matrices. Este método no cambia las matrices existentes, sino que devuelve una nueva matriz.

//slice(): devuelve una copia de una parte del array dentro de un nuevo array empezando por inicio hasta fin (fin no incluido). El array original no se modificará.Sintaxis : array.slice(start, end)



}



},
methods: {

    cambiarEstado(){
        if(this.condicional){
            this.condicional=false
        }else{
            this.condicional=true
        }
    },

    agregarProducto(){
     this.productos.push({nombre:this.nombre,precio:this.precio})
    },

    sacarUltimo(){
      this.productos.pop() //acordarse que lo devuelve por lo que puede asignarse a una variable
    },

    sacarPrimero(){
       this.productos.shift() //acordarse que lo devuelve por lo que puede asignarse a una variable
    },

    agregarAlInicioArray(){
        this.productos.unshift({nombre:"plato",precio:50},
                               {nombre:"vaso",precio:20})
    },

    ordenarPorNombreAsc(){ 
        this.productos.sort((a,b) => a.nombre.localeCompare(b.nombre))
        //this.productos.sort((a,b) => -(a.nombre.localeCompare(b.nombre))) DESC
    },

    ordenarPorPrecioAsc(){
        this.productos.sort((a,b) => a.precio - b.precio)
        //this.productos.sort((a,b) => b.precio - a.precio) DESC
    },

    reverse(){
        this.productos.reverse()
    },

    filtrar(){
        this.productos = this.productos.filter((elemento) => elemento.precio >= 1000)
    },

    concat(){
        this.productos = this.productos.concat(this.productos)
    },

    slice(){
        this.productos = this.productos.slice(this.inicioSlice,this.finSlice)
        //this.productos = this.productos.slice()  devuelve el mismo array para copiar en otra variable
    }
    
},


}).mount('#app')
</script>

</body>
</html>